DLL Debug/
DLL Release/
Debug/
Release/
enc_temp_folder/
*.lnk

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# Visual C++ cache files
ipch/
*.VC.db
*.VC.VC.opendb
